
/* ----------------------------------------------- */
/* BASIC SETUP  */ 
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* -------------------------------------------------- */
/* HEADER */
/*--------------------------------------------------- */
header {
    background: #F2F2F2;
}

.section-header {
    background-image: -webkit- url(img/hero.png);
    background-image:url(img/hero.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*-------- Heading ----------*/

h1 {
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 400;
    font-size: 80%;
    color: #FFFFFF;

}

h3 {
    font-weight: 400;
    font-size: 70%;
    color: #FFFFFF;

}

h4 {
    color: #C9A96E;
    text-align: center;
}
h5 {
    text-align: center;
}
h7 {
    display: inline-block;
    text-align: center;
    color: 171717;
    margin-left: 20%;
    margin-bottom: 10px;
}

h9 {
    color: #B1B1B1;
    font-size: 90%;
    margin-bottom: 15px;
    margin-top: 100px;
}

h10 {
    color: #C9A96E;
    margin-left: 25%;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin-left: 15%
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}




/* ----- LINKS ----- */

a:link,
a:visited {
    color: #C9A96E;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #C9A96E;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ------- Logo ------------*/



.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*------ Main Nav -----------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

/*------ Categories box------*/

.section-categories{
     background-color: #F2F2F2;
        margin: 0;
}
.categories-box {
    margin-top: 5px;
   background-color: #fff;
    border-radius: 5px;
    width: 40%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #cbcbcb;
}
.category-photo {
    width: 100%;

}






.main-content {
    width: 75%;
    float: left;
}

.other-post {
    width: 25%;
    float: right;
     
}

.categories-main-box {
     margin-top: 5px;
   background-color: #fff;
    border-radius: 5px;
    width: 75%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #cbcbcb;
}

.categories-other-box {
    margin-top: 5px;
   background-color: #fff;
    border-radius: 5px;
    width: 30%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #cbcbcb;
}



.other-post-head-box {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 15px 75px;
    font-weight: 400;
    text-decoration: none;
    font-size: 90%;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    color: #171717;
    
    margin-bottom: 20px;
}
.btn-below { 
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    color: #171717;
    margin-bottom: 70px;
    
}




.btn-below:link,
.btn-below:visited {
    border: 1px solid #e5e5e5;
    color: #background: #C9A96E;
;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #ededed;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #E5E5E5;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
.categories {
    list-style: none;
    margin-bottom: 70px

}
.categories li {
    display:
    
}


.photo-other {
    width:70%;
    height: auto;
    
}

.presentation {
    color: #B1B1B1;
    font-size: 90%;
    margin-bottom: 15px;
    margin-top: px;
    margin-left: 15%;
    
}

.other-text {
    line-height: 145%;
    width: 70%;
    text-align: center;
    font-size: 90%;
}
